body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column ;  
    margin: 0%;
    min-height: 100vh;
}
.Upper-section{
    background-color: black;
    align-items: center;
    display: flex;   
    justify-content: center;
    align-items: center;
    padding: 30px;
    img{
        width:50px;
        height: 50px;
        
    }

}
.Middle-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.sec2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.Lower-section{
    display: flex;
    margin-top: auto;
    padding: 1vh;
    background-color: black;
    color:white;
    justify-content: center;
    gap: 10px; 
}

form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

button{
    width: 300px;
    height: 50px;
    background-color: white;
    border: black solid 3px ;
    border-radius: 30px;
}

input{
    width: 300px;
    height: 50px;
    background-color: rgb(234, 234, 234);
    border: black solid 3px ;
    border-radius: 20px;
    text-align:center;
    
    
}
a{
    text-decoration: none;
    color: white;

}

#fp{
    border-color: transparent;
    font-weight: bold ;
}

#login{
    background-color: rgb(4, 124, 252);
}